@media(max-width:1250px){
    .volunteer__inner {
      flex-direction: column;
    }
    .volunteer-img{
        margin-left: 0;
      width: 100%;
        img{
            position: static;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    .volunteer__title {
        font-size: 50px;
        line-height: 45px;
    }

}

@media (max-width:1120px){
    .menu__list{
        display: none;
        position: absolute;
        top: 70px;
        left: 0px;
        right: 0;
        
    }
    .menu__list-item{
        margin: 15px 0;
        padding: 0 15px;
    }
    
    .menu-burger{
        display: block;
    }

    .adopting {
        margin: 100px 0 0 0;
    }

    .adopting__inner {
        flex-direction: column;
    }
    .adopting-img{
        margin-right: 0;
        width: 100%;
        img{
            position: static;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    .adopting__title {
        font-size: 50px;
        line-height: 45px;
    }

}


@media (max-width:700px){
    .intro__title {
        font-size: 45px;
        line-height: 50px;
    }
    .intro__info-box {
        margin-top: 300px;
    }

    .about__title {
        font-size: 30px;
        line-height: 40px;
    }
    .about__btn {
        margin-top: 20px;
    }
}

@media (max-width:500px){
    .volunteer-img{
        img{
            width: 70%;
        }
    }
}

@media (max-width:370px){
    .adopting-img{
        img{
            width: 100%;
        }
    }

    .adopting-reviews {
        padding-left: 0px;
        margin-top: 100px;
    }
    .adopting-reviews::before {
        left: 100px;
        top: -71px;
}
}