// ШРИФТЫ \\
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400&display=swap');

// Обнуляющий стиль \\
@import "reset.scss";

// Библиотеки \\
@import "libs.scss";

// Переменные \\


// Шаблоны \\
%btn{
    padding: 10px 10px;
    background: rgba(253, 180, 97, 0.82);
    border-radius: 4px;
    color: #000;
    border: 2px solid  rgba(253, 180, 97, 0.82);;
    transition: all 0.5s;
    &:hover{
        background-color: transparent;
        border: 2px solid rgba(253, 180, 97, 0.82);
        color: rgba(253, 180, 97, 0.82);
    }
}


// Глобальные стили \\
body{
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    line-height: 27px;
    background-color: #000;
    background-image: url(../images/first-bg.jpg);
    background-repeat: no-repeat;
    background-position: 0% 10%;
    background-size: cover;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.wrapper{
    overflow: hidden;
}


// HEADER \\

.header{
    background-color: #fff;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    padding-top: 30px;
}

.logo{
    padding-top: 10px;
}

.menu-burger{
    display: none;
    width: 30px;
    height: 25px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    position: relative;
    cursor: pointer;
    &::before{
        position: absolute;
        content: "";
        width: 30px;
        height: 2px;
        background-color: #000;
        top: 10px;
    }

}

.menu__list-item{
    display: inline-block;
    margin: 0 12px;
    
}

.menu__list-link{
    color: #000;
    transition: all 0.5s;
    &:hover{
        color: rgba(253, 180, 97, 0.82);
    }
}

.menu__btn{
    @extend %btn;
}


// INTRO \\

.intro{
    margin-top: 150px;
}


.intro__info-box{
    max-width: 720px;
}

.intro__title{
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
    margin-bottom: 40px;
    color: rgba(253, 180, 97, 0.82);
    text-shadow: 1px 1px 0px #000
}

.intro__text{
    margin-bottom: 20px;
    color: rgba(253, 180, 97, 0.82);
    text-shadow: 1px 1px 0px #000
}

.intro__btn{
    @extend %btn;
    margin-right: 24px;
    margin-top: 15px;
    
}

// ADOPTING \\

.adopting{
    color: #fff;
    margin: 300px 0 0 0;
}

.adopting__inner{
    display: flex;
    align-items: center;
}

.adopting-img{
position: relative;
width: 442px;
min-height: 672px;
margin-right: 75px;
}

.adopting-img__one{
    position: absolute;
    left: -10%;
    top:  0;
    z-index: 4;

}
.adopting-img__two{
    position: absolute;
    right: -14%;
    top: 23%;
    z-index: 5;
    
}
.adopting-img__three{
    position: absolute;
    left: 0;
    bottom: -11%;
    z-index: 3;
    
}

.adopting-info{
    max-width: 639px;
}

.adopting__title{
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    margin-bottom: 40px;
}

.adopting__text{
    margin-bottom: 30px;
    opacity: 0.9;
}

.adopting__link{
    text-transform: uppercase;
    color: rgba(253, 180, 97, 0.82);
    margin-bottom: 70px;
    text-decoration: underline;
    position: relative;
    &::after{
        position: absolute;
        content: url(../images/arrow-next.svg);
        right: -20px;
    }
}

.adopting-reviews{
    margin-top: 70px;
    font-style: italic;
    position: relative;
    padding-left: 90px;
    &::before{
        position: absolute;
        content: url(../images/first-testimony.png);
        left: 0;
    }
}

.adopting-reviews__text{
    margin-bottom: 20px;
}

.adopting-reviews__name{
    opacity: 0.6;
}



// VOLUNTEER \\

.section-bottom{
    background-color: #000;
    background-image: url(../images/second-bg.jpg);
    background-repeat: no-repeat;
    background-position: 0% 10%;
    background-size: cover;  
}


.volunteer{
    margin: 200px 0 0 0;
    padding: 100px 0 0 0;
    color: #fff;
}

.volunteer__inner{
    display: flex;
    align-items: center;
}

.volunteer-info{
    max-width: 639px;
}

.volunteer__title{
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    margin-bottom: 40px;
}

.volunteer__text{
    margin-bottom: 30px;
    opacity: 0.9;
}

.volunteer__link{
    text-transform: uppercase;
    color: rgba(253, 180, 97, 0.82);
    margin-bottom: 70px;
    text-decoration: underline;
    position: relative;
    &::after{
        position: absolute;
        content: url(../images/arrow-next.svg);
        right: -20px;
    }
}

.volunteer-reviews{
    margin-top: 70px;
    font-style: italic;
    position: relative;
    padding-left: 90px;
}

.animal{
    &::before{
        position: absolute;
        content: url(../images/second-testimony.png);
        left: 0;
    }
}

.human{
    &::before{
        position: absolute;
        content: url(../images/third-testimony.png);
        left: 0;
    }
}


.volunteer-reviews__text{
    margin-bottom: 20px;
}

.volunteer-reviews__name{
    opacity: 0.6;
}


.volunteer-img{
    position: relative;
    width: 442px;
    min-height: 672px;
    margin-left: 75px;
    }
    
    .volunteer-img__one{
        position: absolute;
        right: -10%;
        top:  0;
        z-index: 4;
    
    }
    .volunteer-img__two{
        position: absolute;
        left: -14%;
        top: 23%;
        z-index: 5;
        
    }
    .volunteer-img__three{
        position: absolute;
        right: 0;
        bottom: -11%;
        z-index: 3;
        
    }

    // ABOUT \\

    .about{
        padding-top: 150px;
        color: #fff;
    }
    

    .about__info-box{
        max-width: 1000px;
    }
    
    .about__title{
        font-weight: bold;
        font-size: 60px;
        line-height: 70px;
        margin-bottom: 40px;
    }
    
    .about__text{
        margin-bottom: 20px;
    }
    
    .about__btn{
        @extend %btn;
        margin-right: 24px;
    }


    // FOOTER \\

    .footer{
        padding: 50px 0;
    }

    .footer__inner{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer__text{
        color: #fff;
        opacity: 0.6;
    }

    .social-list__item{
        display: inline-block;
        margin: 0 15px;
    }

    .social-list__link{
    &:hover{
        svg{
            path{
                fill:rgba(253, 180, 97, 0.82);
            }
        }
    }
    }



    // MEDIA \\
    @import "media.scss";